<h1>Andino Products Management</h1>

{{messages}}

<h2>Products List</h2>
<table>
    <thead>
        <tr>
            <th>ID (Hex)</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Flavor</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{products_rows}}
        <tr class="total-row">
            <td colspan="5" style="text-align: right; color: #2c3e50;">Total Prices Sum:</td>
            <td style="color: #27ae60;">$ {{total_price}}</td>
        </tr>
    </tbody>
</table>
